#smartcard{
	padding-top:5%;
	padding-left:5%;
	padding-right:5%;
}

#smartcard .panel{
    margin-top:1%;
    font-size:20px;
}

#smartcard .caption{
	padding-top:15px;
	text-align:center;
	font-size:28px;
	color:#808080;
	height:60px;
}

#smartcard  .lable{
	width:100%;
	height:40px;
	padding-top:10px;
	border-left:2px solid rgba(255,255,255,0.35);
	border-right:2px solid rgba(255,255,255,0.35);
}




	
