#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
GitMsg.txt
*.o
*.d
*.so
SnmpAgent.IAB
SnmpAgent.IAD
SnmpAgent.IMB
SnmpAgent.IMD
SnmpAgent.PFI
SnmpAgent.PO
SnmpAgent.PR
SnmpAgent.PRI
SnmpAgent.PS
SnmpAgent.SearchResults
SnmpAgent.WK3

