*.bak
GitMsg.txt
.Makefile.swp
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.WK3
*~
cscope.*
tags
Read/Out/
GpioKbInput.tbz
*.SearchResults
UpgraderRootfs.tgz
FileList.txt
tslib/INSTALL
*.m4
MakeRootfs/NetworkUpdate/rootfs/SystemUpgrade/md5sum
