#keyinput{
	position:absolute;
	top:28%;
	left:34%;
	width:33%;
	height:33%;
	background: url( '../images/promt_box.png' ) no-repeat;
	z-index:200;
}

#keyinput .lcn_display{
	margin-top:4%;
	padding-left:7%;
	width:90%;
}

#keyinput .lcn_display .lcn_display_left {
	width:40%;
	margin-left:2%;
	font-size:18px;
	float:left;
}

#keyinput .lcn_display .lcn_display_right{
	width:40%;
	margin-left:13%;
	font-size:18px;
	float:left;
}

#keyinput .keyinputlable{
	margin-top:20%;
	padding-left:7%;
	width:92%;
}
#keyinput .messagelable{
	width:90%;
	height:15%;
	margin-left:2%;
	margin-top:-3%;
	padding-top:0%;
}
#keyinput .message{
	text-align:center;
	font-size:18px;
}

#keyinput .confirmbtnlable{	
	height:20%;
	width:100%;
	position:absolute;
	left:40%;
	bottom:10%;
}

#keyinput .confirmbtnlable .confirmbtn{
	width:20%;
	height:70%;
}
#keyinput .confirmbtnlable .confirmbtn .panel{
	padding-top:2%;
	text-align:center;
}

#keyinput .reminderlable{	
	height:7%;
	width:100%;
	position:absolute;
	left:14%;
	bottom:4%;
}

#keyinput .reminderlable .red_reminder{
	width:5%;
	height:95%;
	background-color:#ff0000;
	float:left;
}

#keyinput .reminderlable .red_reminder_text{
	width:25%;
	height:100%;
	padding-left:2%;
	float:left;
}

#keyinput .reminderlable .exit_reminder{
	width:10%;
	height:100%;
	margin-left:20%;
	background: url( '../images/back.png' ) no-repeat;
	float:left;
}

#keyinput .reminderlable .exit_reminder_text{
	width:25%;
	height:100%;
	padding-left:0%;
	float:left;
}